@model List<CarDealerApp.Models.Car>
@{
    ViewData["Title"] = "Cars List";
}

<h2>Cars for Sale</h2>

<ul>
    @foreach (var car in Model)
    {
        <li>
            <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">
                @car.Make @car.Model (@car.Year)
            </a>
        </li>
    }
</ul>